:root {
  --clr-white: hsl(100, 100%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-red: hsl(0, 100%, 50%);
  --clr-dark-blue: hsl(237, 55%, 15%);
  --clr-light-blue: hsl(203, 78%, 91%);
  --clr-pale-purple: hsl(289, 100%, 97%);
  --clr-light-purple: hsl(248, 100%, 91%);
  --clr-light-red: hsl(357, 100%, 95%);
  --clr-light-yellow: hsl(34, 57%, 95%);
  --clr-very-light-grey: hsl(220, 2%, 98%);
  --clr-light-grey: hsl(240, 9%, 78%);
  --clr-dark-grey: hsl(237, 9%, 57%);
}

.flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.grid {
  display: grid;
}

.container {
  grid-template-columns: 1fr 3fr 1fr;
  min-height: 100vh;
}

/* .header,
.main,
.aside {
  grid-row: span -1;
} */

.header {
  background-color: var(--clr-dark-blue);
  color: var(--clr-white);
  padding: 2rem;
  /* border-radius: 0 50px 50px 0; */
}

/* body {
  background-color: var(--clr-dark-blue);
} */

.main {
  background-color: var(--clr-very-light-grey);
  padding: 2rem 2rem 0 2rem;
}

.main,
.aside {
  border-radius: 50px 0 0 50px;
  position: relative;
}

.main::before,
.aside::before {
  content: "";
  height: 100vh;
  width: 6rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.main::before {
  background-color: var(--clr-dark-blue);
}

.aside {
  background-color: var(--clr-white);
}

.aside::before {
  background-color: var(--clr-very-light-grey);
}

.nav {
  margin-top: 2rem;
  color: var(--clr-dark-grey);
  font-size: 1rem;
  text-transform: uppercase;
}

li {
  margin-bottom: 1rem;
}

.nav-btn {
  > svg {
    fill: var(--clr-dark-grey);
  }
}

#calendar,
#list {
  fill: transparent;
  stroke: var(--clr-dark-grey);
}

.nav-btn:hover #calendar,
.active-btn {
  stroke: var(--clr-white);
}

.active-btn,
.nav-btn:hover {
  color: var(--clr-white);

  > svg {
    fill: var(--clr-white);
  }
}

.my-lists {
  margin-top: 3rem;
}

.search-bar {
  flex: 1;
}

.search-bar input {
  padding: 1rem 2rem;
  border: none;
  background-color: transparent;
  border-radius: 10px;
  height: 30px;
  width: 100%;
  background-image: url(./assets/icons/magnify.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 10px center;
}

.search-bar input:focus {
  outline: 1px solid var(--clr-dark-grey);
}

.notification-btn {
  background-image: url(./assets/icons/notification.svg);
  height: 30px;
  width: 30px;
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.priority-section,
.taskslist-section {
  margin-top: 2rem;
}

.priority-cards,
.tasks-list {
  margin-top: 1.2rem;
}

.priority-card {
  height: 8rem;
  width: 15rem;
  padding: 1rem;

  border-radius: 20px;

  > p {
    color: var(--clr-dark-grey);
  }
}

.card-1 {
  background-color: var(--clr-light-red);
}

.card-2 {
  background-color: var(--clr-light-purple);
}

.card-3 {
  background-color: var(--clr-pale-purple);
}

.card-4 {
  background-color: var(--clr-light-blue);
}

.card-title {
  color: var(--clr-dark-blue);
  justify-content: space-between;
  margin-bottom: 0.4rem;
}

.due-date {
  background-color: var(--clr-white);
  color: var(--clr-red);
  font-size: 0.8rem;
  padding-inline: 0.5rem;
  border-radius: 50px;
}

.task-card {
  width: 80%;
  border-radius: 20px;
  padding: 1rem;
  background-color: var(--clr-white);
  justify-content: space-between;
}

body {
  min-height: 100vh;
  font-family: monospace;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
  text-transform: inherit;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
